body{
position: absolute;
width: 200px;
height: 200px;
left: 0px;
top: 0px;


    background: url('/web/assets/fundo.png') no-repeat;
}

#Login .logo{
position: absolute;
width: 154px;
height: 101.82px;
left: 1005px;
top: 100.18px;
background: url('/web/assets/logologin.png');
}
#Login .acesse{

position: absolute;
width: 179px;
height: 27px;
left: 1000px;
top: 250px;

font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 23px;
line-height: 27px;
color: rgba(0, 0, 0, 0.81);
/* identical to box height */

}
#Login .linha1{
    position: absolute;
width: 103px;
height: 0px;
left: -130px;
right: 0px;
top: 15px;

border: 1px solid #000000;

}
#Login .linha2{
    position: absolute;
width: 103px;
height: 0px;
left: 195px;
top: 15px;

border: 1px solid #000000;
}


#Login .form input[type="text"],#Login .form input[type="password"] {
position: relative;
width: 544px;
height: 69px;
left: 804px;
top: 300px;
margin: 20px auto;


background: #E5E5E5;
border-radius: 20px;
border: none;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 35px;
/* identical to box height */

text-transform: capitalize;
color:rgba(44, 62, 107, 0.8);
}
#Login .form input[type="submit"]{
position: absolute;
display: block;
width: 205px;
height: 62px;
left: 980px;
top: 520px;
margin: 20px auto;
background: #2C3E6B;
border-radius: 15.2239px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 35px;
text-transform: capitalize;
color: #FFFFFF;

}

::placeholder{ 
    color: #2C3E6B;
}