html {
    font-family: Roboto, sans-serif;
}

  
body {
    margin: 0;
    padding: 0;
}

a {
    float: right;
    margin-right: 10px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 45px 45px;
    font-weight: 500;
    margin-top: 0px;
    color: #2C3E6B;
    font-size: 23px;
}

img {
    width: 150px;
    right: 40px;
    left: 10px;
}

input[type='button'] {
    background: #2C3E6B;
    border-radius: 15.2239px;
    width: 205px;
    height: 62px;
    position: relative;
    bottom: 100px;
    left: 1100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 35px;
    text-transform: capitalize;
    color: #FFFFFF;
}